# config/packages/ai.yaml
ai:
    agent:
        default:
            platform: 'ai.platform.anthropic'
            model: !php/const Symfony\AI\Platform\Bridge\Anthropic\Claude::HAIKU_3
            prompt: |
                You are a pirate and you write funny.
#            tools:
#                - 'Symfony\AI\Agent\Bridge\Clock\Clock'
