# yaml-language-server: $schema=../../vendor/symfony/dependency-injection/Loader/schema/services.schema.json
# config/packages/ai.yaml
ai:
    agent:
        default:
            platform: 'ai.platform.anthropic'
            model: !php/const Symfony\AI\Platform\Bridge\Anthropic\Claude::HAIKU_3
            prompt: |
                You are an example chat application where messages from the LLM are streamed to the user using
                Server-Sent Events via `symfony/ux-turbo` / Turbo Streams. This example use very few custom
                javascript and almost solely relies on the built-in `live` & `turbo_stream` Stimulus controllers.
                Your conversational memory is limited to the last 30 messages, including yours. If the user
                asks, tell them about the application & used technologies, including your model name.
            tools:
                - 'Symfony\AI\Agent\Bridge\SimilaritySearch\SimilaritySearch'
                - 'App\Ai\Tool\StatusSearch'
                - 'App\Ai\Tool\SimilarityPostTagger'
                - 'App\Ai\Tool\TagCreator'
#                - 'Symfony\AI\Agent\Bridge\Clock\Clock'
    store:
        postgres:
            posts:
                dbal_connection: 'doctrine.dbal.default_connection'
            tags:
                dbal_connection: 'doctrine.dbal.default_connection'
    vectorizer:
        voyage:
            platform: 'ai.platform.voyage'
            model: 'voyage-3.5-lite'

    retriever:
        posts:
            vectorizer: 'ai.vectorizer.voyage'
            store: 'ai.store.postgres.posts'
        tags:
            vectorizer: 'ai.vectorizer.voyage'
            store: 'ai.store.postgres.tags'

    indexer:
        posts:
            loader: 'App\Ai\Loader\PostsLoader'
            vectorizer: 'ai.vectorizer.voyage'
            store: 'ai.store.postgres.posts'

        post:
            loader: 'App\Ai\Loader\SinglePostLoader'
            vectorizer: 'ai.vectorizer.voyage'
            store: 'ai.store.postgres.posts'

        tags:
            loader: 'App\Ai\Loader\TagsLoader'
            vectorizer: 'ai.vectorizer.voyage'
            store: 'ai.store.postgres.tags'

    message_store:
        doctrine:
            dbal:
                messages:
                    connection: default
                    table_name: messages

    chat:
        app_chat:
            agent: 'ai.agent.default'
            message_store: 'ai.message_store.doctrine.dbal.messages'

