{% extends 'base.html.twig' %}

{% block title %}Create New Post{% endblock %}

{% block body %}
<div class="row mb-4">
    <div class="col-12">
        <a href="{{ path('app_admin_post_index') }}" class="text-decoration-none text-muted mb-3 d-inline-block">
            ← Back to posts
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8">
        <div class="card admin-card shadow-sm border-0">
            <div class="card-header bg-white">
                <h2 class="h4 mb-0">Create New Post</h2>
            </div>
            <div class="card-body">
                {{ include('admin/post/_form.html.twig', {'button_label': 'Create Post'}) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
